<button class="create" (click)="toggleNewDeptForm()">CREATE</button>
<div>
    <table>
        <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Short Description</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let dept of getDepts()">
                <td>{{ dept.code }}</td>
                <td>{{ dept.name }}</td>
                <td>{{ dept.shortdesc }}</td>
                <td>
                    <button class="delete">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
