<button #create class="create" (click)="toggleDeptForm(create)">CREATE</button>
<div>
    <table>
        <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Short Description</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let dept of getDepts()" (click)="toggleDeptForm(code)">
                <td #code>{{ dept.code }}</td>
                <td>{{ dept.name }}</td>
                <td>{{ dept.shortdesc }}</td>
                <td>
                    <button class="delete" (click)="delete(code, $event)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
