<button #create class="create" (click)="toggleJobForm(create)">CREATE</button>
<div>
    <table>
        <thead>
            <th>Code</th>
            <th>Title</th>
            <th>Short Description</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let job of getJobs()" (click)="toggleJobForm(code)">
                <td #code>{{ job.code }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.shortdesc }}</td>
                <td>
                    <button class="delete" (click)="delete(code, $event)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
