<button class="create" (click)="toggleNewJobForm()">CREATE</button>
<div>
    <table>
        <thead>
            <th>Code</th>
            <th>Title</th>
            <th>Short Description</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let job of jobs">
                <td>{{ job.code }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.shortdesc }}</td>
                <td>
                    <button class="delete">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
