<button class="create">CREATE</button>
<div>
    <table>
        <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Short Description</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>123</td>
                <td>Solutions Architect</td>
                <td>Design implement, and test solutions</td>
                <td>
                    <button class="edit">EDIT</button>
                </td>
                <td>
                    <button class="delete">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
