<button #create class="create" (click)="toggleLocForm(create)">CREATE</button>
<div>
    <table>
        <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Short Description</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let loc of getLocs()" (click)="toggleLocForm(code)">
                <td #code>{{ loc.code }}</td>
                <td>{{ loc.name }}</td>
                <td>{{ loc.shortdesc }}</td>
                <td>
                    <button class="delete" (click)="delete(code, $event)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
