<div class="container">
    <div class="navigation">
        <div #emp class="employees" [ngClass]="{'removeBorder': empBorder}" (click)="clicked(emp)">
            <p>Employees</p>
        </div>
        <div #job class="jobs" [ngClass]="{'addLeftBorder': jobsLeftBorder, 'removeBottomBorder': jobsBottomBorder}" (click)="clicked(job)">
            <p>Jobs</p>
        </div>
        <div #dept class="departments" [ngClass]="{'removeBottomBorder': deptBottomBorder}" (click)="clicked(dept)">
            <p>Departments</p>
        </div>
        <div #loc class="locations" [ngClass]="{'removeBorder': locBorder}" (click)="clicked(loc)">
            <p>Locations</p>
        </div>
    </div>

    <emp-table [hidden]="hideEmp"></emp-table>
    <job-table [hidden]="hideJob" (showJobForm)="toggleJobForm($event)" [refresh]="jobRefresh"></job-table>
    <dept-table [hidden]="hideDept" (showDeptForm)="toggleDeptForm($event)" [refresh]="deptRefresh"></dept-table>
    <loc-table [hidden]="hideLoc" (showLocForm)="toggleLocForm($event)" [refresh]="locRefresh"></loc-table>


</div>

<new-job  *ngIf="showJobForm" (showJobForm)="toggleJobForm($event)" [code]="jobcode" [refresh]="jobRefresh"></new-job>
<new-dept *ngIf="showDeptForm" (showDeptForm)="toggleDeptForm($event)" [code]="deptCode" [refresh]="deptRefresh"></new-dept>
<new-loc *ngIf="showLocForm" (showLocForm)="toggleLocForm($event)" [code]="locCode" [refresh]="locRefresh"></new-loc>
