p {
    margin: 5px 0 0 0;
}

new-job {
    width: 100%;
    height: 100%;
}

.container {
    width: 75%;
    height: 500px;
    margin-left: 75px;
    border: solid 2px black;
    border-radius: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.employees,
.jobs,
.departments,
.locations {
    width: 100px;
    height: 30px;
    text-align: center;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    cursor: pointer;
}

.removeBottomBorder {
    border-bottom: none;
}

.removeBorder {
    border: none;
}

.removeLeftBorder {
    border-left: none;
}

.addLeftBorder {
    border-left: solid 2px black;
}
