<div class="container">
    <div class="navigation">
        <div #emp class="employees" [ngClass]="{'removeBorder': empBorder}" (click)="clicked(emp)">
            <p>Employees</p>
        </div>
        <div #job class="jobs" [ngClass]="{'addLeftBorder': jobsLeftBorder, 'removeBottomBorder': jobsBottomBorder}" (click)="clicked(job)">
            <p>Jobs</p>
        </div>
        <div #dept class="departments" [ngClass]="{'removeBottomBorder': deptBottomBorder}" (click)="clicked(dept)">
            <p>Departments</p>
        </div>
        <div #loc class="locations" [ngClass]="{'removeBorder': locBorder}" (click)="clicked(loc)">
            <p>Locations</p>
        </div>
    </div>

    <emp-table [hidden]="hideEmp"></emp-table>
    <job-table [hidden]="hideJob" (newJobForm)="toggleNewJobForm($event)"></job-table>
    <dept-table [hidden]="hideDept" (newDeptForm)="toggleNewDeptForm($event)"></dept-table>
    <loc-table [hidden]="hideLoc" (newLocForm)="toggleNewLocForm($event)"></loc-table>


</div>

<new-job [hidden]="hideNewJobForm" (newJobForm)="toggleNewJobForm($event)"></new-job>
<new-dept [hidden]="hideNewDeptForm" (newDeptForm)="toggleNewDeptForm($event)"></new-dept>
<new-loc [hidden]="hideNewLocForm" (newLocForm)="toggleNewLocForm($event)"></new-loc>
