<div class="main">
    <div class="container">
        <h2>{{ header }}</h2>
        <form [formGroup]="getLocForm()" (ngSubmit)="onSubmit()">
            <div class="r1">
                <div class="inputGroup">
                    <label for="">Location Code*</label>
                    <input type="number" formControlName="code">
                </div>
                <div class="inputGroup">
                    <label for="">Location Name*</label>
                    <input type="text" formControlName="name">
                </div>
            </div>
            <div class="r2">
                <div class="inputGroup">
                    <label for="">Short Description</label>
                    <textarea formControlName="shortdesc" cols="52" rows="8"></textarea>
                </div>
            </div>
            <button type="button" (click)="toggleLocForm()">Cancel</button>
            <button [disabled]="getLocForm().invalid">Submit</button>
        </form>
    </div>
</div>
