<div class="main">
    <div class="container">
        <h1>Edit Employee</h1>
        <form [formGroup]="getEditForm()" (ngSubmit)="onSubmit()">
            <div class="r1">
                <div class="inputGroup">
                    <label for="firstname">First Name*</label>
                    <input type="text" formControlName="firstname">
                </div>
                <div class="inputGroup">
                    <label for="middlename">Middle Name</label>
                    <input type="text" formControlName="middlename">
                </div>
                <div class="inputGroup">
                    <label for="lastname">Last Name*</label>
                    <input id="lastName" type="text" formControlName="lastname">
                </div>
            </div>
            <div class="r2">
                <div class="inputGroup">
                    <label for="preferredfirstname">Preferred First Name</label>
                    <input type="text" formControlName="preferredfirstname">
                </div>
                <div class="inputGroup">
                    <label for="preferredlastname">Preferred Last Name</label>
                    <input type="text" formControlName="preferredlastname">
                </div>
                <div class="inputGroup">
                    <label for="email">Email Address*</label>
                    <input type="text" formControlName="email">
                </div>
            </div>
            <div class="r3">
                <div class="inputGroup">
                    <label for="jobTitle">Job Title*</label>
                    <select formControlName="jobcode">
                        <option value="">Select One</option>
                        <option *ngFor="let job of getJobs()" value="{{ job.code }}|{{ job.title }}">{{ job.title }}</option>
                    </select>
                </div>
                <div class="inputGroup">
                    <label for="departmentName">Department Name*</label>
                    <select formControlName="departmentcode">
                        <option value="">Select One</option>
                        <option *ngFor="let dept of getDepts()" value="{{ dept.code }}|{{ dept.name }}">{{ dept.name }}</option>
                    </select>
                </div>
            </div>
            <div class="r4">
                <div class="inputGroup">
                    <label for="locationName">Location Name*</label>
                    <select formControlName="locationcode">
                        <option value="">Select One</option>
                        <option *ngFor="let loc of getLocs()" value="{{ loc.code }}|{{ loc.name }}">{{ loc.name }}</option>
                    </select>
                </div>
                <div class="inputGroup">
                    <label for="status">Status</label>
                    <select formControlName="status">
                        <option value="A">A</option>
                        <option value="I">I</option>
                    </select>
                </div>
                <div class="inputGroup">
                    <label for="manager">Manager*</label>
                    <input type="text" formControlName="managerid">
                </div>
            </div>
            <div class="button">
                <button [disabled]="getEditForm().invalid">Submit</button>
                <button routerLink="/">Cancel</button>
            </div>
        </form>
    </div>
</div>
